:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  width: 420px;
  margin-right: 200px;

  select {
    width: 200px;
  }

  input {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

button + button, select {
  margin-left: 5px;
}
