<div class="format-actions">
  <button class="format-action" type="button" (click)="formatWord('bold')"><b>B</b></button>
  <button class="format-action" type="button" (click)="formatWord('italic')"><i>I</i></button>
  <button class="format-action" type="button" (click)="formatWord('underlined')"><u>U</u></button>
  <input [colorPicker]="color" [style.background]="color" (cpSliderDragEnd)="updateColor($event)"/>
  <select 
    name="synonym" 
    id="synonym"
    (change)="selectSynonym($event)">
    <option value="">Synonym</option>
    <option *ngFor="let synonym of synonyms | async" [value]="synonym">{{synonym}}</option>
  </select>
</div>
